@import url('https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap');

body{
    background: #000000e3;
    color: rgb(255, 255, 255);
    font-size: 30px;
    text-align: center;
    font-family: 'Share Tech Mono', monospace;
    
    #root{
        display: flex;
        height: 100vh;
        justify-content: center;
        align-items: center;
        //border: 2px solid red;
        
        .main-title{
            margin-top: 150px;
            margin-bottom: 130px;
            font-size: 70px;
            
        }
        @media screen and (max-width: 556px) {
            .main-title{
                margin-top: 150px;
                margin-bottom: 15px;
            }
        }
        .length-control{
            width: 200px;
        }
        button{
            background: none;
            outline: none;
            border: none;
            color: rgb(253, 253, 253);
            cursor: pointer;
        }
        .btn-level,.fa,.fas,
        .length-control{
            display: inline-block;
            font-size: 20px; 
            .btn-level:nth-child(3){
            width: 40px;
            }
        }
        .timer {
            margin: 20px auto 10px auto;
            width: 270;
            height: 160px;
            border-radius: 50px;
            position: relative;
            .timer-wrapper{
                position: absolute;
                width: 190px;
                height: 110px;
                left: 50%;
                top: 50%;
                margin-left: -95px;
                margin-top: -57px;
            }
            #time-left{
                font-family: 'Share Tech Mono', monospace;
                font-size: 80px;
            }
            .timer-control button:active{
                color: #13353a;
            } 
        }
    }
}

#content{
    background-image: url(../images/background01.png);
    background-size: cover;
    background-position: center;
    width: 600px;
    height: 760px;
    box-shadow: 0px 0px 40px red;
    border-radius: 10px;
}

#controls{
    width: 100%;
    height: 85px;
}

.controlLeft{
    float:left;
}

.controlRight{
    display: flex;
    float: right;
    margin-right: 0px;
}

.fas:hover, .far:hover{
    color: red;
    text-shadow: 0px 0px 20px red;
}

.fas:active, .far:active{
    color: rgb(0, 0, 0);
    text-shadow: 0px 0px 0px red;
}


@media screen and (max-width: 556px) {
    
    .main-title{
        margin-top: 150px;
        margin-bottom: 100px;
    }

    .fas:hover, .far:hover{
        color: red;
        text-shadow: 0px 0px 20px red;
    }
    .fas:active, .far:active{
        color: rgb(0, 0, 0);
        text-shadow: 0px 0px 0px red;
    }
} 